@import 'compass';

$device-width-threshould: 520px;

$sidebar-width: 240px;

$default-font-color: #4E5F70;
$border-color: #eee;
$shadow-color: #ddd;

$bg-color: #E8F0FA;

$sidebar-bg-color: #333C4E;
$sidebar-color: #9CABC4;
$sidebar-border-color: #3B465A;
$title-bg-color: #15A4FA;
$sidebar-middle-bg-color: #3E4960;

$sidebar-hover-color: #FFFFFF;
$sidebar-hover-bg-color: #28303E;

$link-color: #4b75b9;
$visited-link-color: #9361B6;

$unit: 4px;
$title-height: 16 * $unit;

$footer-bg-color: #293141;
$footer-color: #90969E;
$footer-blight-color: #DADADA;


@import 'base';
@import 'utility';

@import 'components/modal';
@import 'components/sidebar';

@import 'components/main';
@import 'components/hotentry';
@import 'components/_page';
@import 'components/_page/_comments';
@import 'components/footer';
