@import 'compass';
$default-font-color: #1A1A1D;
$border-color: #eee;
$shadow-color: #ddd;

$bg-color: #d5e0f1;

$link-color: #4b75b9;
$visited-link-color: #B492CC;

@import 'susy';

@import 'foundation/_reset';
@import 'foundation/_base';

$susy: (
  global-box-sizing: border-box,
  gutters: 0,
  columns: 16
);
@include border-box-sizing;

@import 'layout/_side_bar';
@import 'layout/_footer';
@import 'layout/_main';
@import 'layout/_modal';

@import 'object/utility/_margin';
@import 'object/utility/_text';
@import 'object/utility/_layout';
@import 'object/utility/_draggable';

@import 'object/component/_card';
@import 'object/component/_button';
@import 'object/component/_bookmark_count';
@import 'object/component/_state_list';
@import 'object/component/_favorite';
@import 'object/component/_icon';

@import 'object/project/_page';
@import 'object/project/_comments';
@import 'object/project/_main_header';
@import 'object/project/_hot_entries';
@import 'object/project/_side_bar';
