@import 'compass';

$sidebar-width: 240px;

$default-font-color: #4E5F70;
$border-color: #eee;
$shadow-color: #ddd;

$bg-color: #E8F0FA;

$sidebar-bg-color: #333C4E;
$sidebar-color: #9CABC4;
$sidebar-border-color: #3B465A;
$title-bg-color: #15A4FA;
$sidebar-middle-bg-color: #3E4960;

$sidebar-hover-color: #FFFFFF;
$sidebar-hover-bg-color: #28303E;

$link-color: #4b75b9;
$visited-link-color: #9361B6;

$unit: 4px;
$title-height: 16 * $unit;

$footer-bg-color: #293141;
$footer-color: #90969E;
$footer-blight-color: #DADADA;

@import 'susy';

@import 'foundation/_reset';
@import 'foundation/_base';

$susy: (
  global-box-sizing: border-box,
  gutters: 0,
  columns: 16
);
@include border-box-sizing;

@import 'object/utility/_margin';
@import 'object/utility/_text';
@import 'object/utility/_layout';
@import 'object/utility/_draggable';
@import 'object/utility/_font';
@import 'object/utility/_cursor';

@import 'layout/_sidebar';
@import 'layout/_footer';
@import 'layout/_main';
@import 'layout/_modal';

@import 'object/component/_card';
@import 'object/component/_button';
@import 'object/component/_bookmark_count';
@import 'object/component/_state_list';
@import 'object/component/_favorite';
@import 'object/component/_icon';
@import 'object/component/_loading';

@import 'object/project/_page';
@import 'object/project/_comments';
@import 'object/project/_main_header';
@import 'object/project/_hot_entries';
@import 'object/project/_sidebar';
