body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family : 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'メイリオ',Meiryo, 'MS Pゴシック','MS PMGothic', sans-serif;
  background-color: $bg-color;
  color: $default-font-color;
  &.modal-open {
    overflow: hidden;
  }
}

h1 { font-size: 24px; }

h2 { font-size: 20px; }

h3 { font-size: 12px; }

h1, h2, h3 { font-weight: normal; }

a {
  cursor: pointer;
  text-decoration: none;
  color: $default-font-color;
}
