$main-side-padding-unit: 6;

.main-header {
  @include box-shadow(0px 1px 1px 0px $shadow-color);
  background-color: white;
  &.fixed {
    top: 0;
    @include span(12 of 16 last);
    z-index: 1;
  }
}

.main-title-box {
  height: $title-height;
  @include unit-padding(0 $main-side-padding-unit);
}

.main-title {
  color: #555;
  @include flex(1);

  > .favicon {
    width: 1em;
    height: 1em;
  }
}

.header-states {
  @include generic-flexbox;
  border-top: 1px solid $border-color;
}

.header-state {
  @include generic-flexbox;
  @include flex(1);
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  +li { border-left: 1px solid $border-color; }
  &:hover:not(.active) {
    background-color: #fafafa;
    color: $default-font-color;
  }
  &.active {
    cursor: default;
    > a {
      cursor: default;
      color: $default-font-color;
    }
  }
  > a {
    color: #aaa;
    display: block;
    @include flex(1);
  }
}

.header-category {
  border-bottom: 3px solid white;
}

.main-body {
  @include unit-padding(2 $main-side-padding-unit);
}