#side-bar {
  h2 {
    color: white;
    font-size: 12px;
    @include unit-padding(0 2 1);
  }
}

.side-bar-list {
  font-size: 12px;
  &:hover {
    background-color: $side-bar-hover-bg-color;
    > a {
      color: $side-bar-hover-color;
      background-color: $side-bar-hover-bg-color;
    }
  }
  > a {
    @include unit-padding(3);
    color: $side-bar-color;
  }
  border-bottom: 1px solid $side-bar-border-color;
  &:nth-child(1) {
    border-top: 1px solid $side-bar-border-color;
  }
}

$title-size: 18px;
#side-bar-top {
  height: $title-height;
  @include unit-padding(0 2);
  font-size: 18px;
  background-color: $title-bg-color;
  a {
    color: white;
  }
}

#logo {
  color: white;
  font-size: 32px;
  @include unit-margin(0 2 0 0);
}

#hotentry {
  color: #DBDBDB;
  @include unit-margin(3 0);
  &:hover { color: white; }
}

$placeholder-color: #808894;
#search-box {
  position: relative;
  input {
    width: 100%;
    border: 1px solid $placeholder-color;
    @include unit-padding(2 3);
    background-color: $side-bar-bg-color;
    @include border-radius(4px);
    font-size: 14px;
    color: white;
    @include input-placeholder {
      color: $placeholder-color;
    }
  }
  .fa-search {
    color: $placeholder-color;
    position: absolute;
    right: 8px;
    top: 9px;
    cursor: pointer;
  }
}

.site {
  &:hover {
    background-color: #fafafa;
  }

  .favicon {
    @include unit-margin(0 2 0 0);
  }
}

.site-title {
  @include flex(1);
}