#sidebar {
  h2 {
    color: white;
    font-size: 12px;
    @include unit-padding(0 2 1);
  }
}

.sidebar-list {
  font-size: 12px;
  &:hover {
    background-color: $sidebar-hover-bg-color;
    > a {
      color: $sidebar-hover-color;
      background-color: $sidebar-hover-bg-color;
    }
  }
  > a {
    @include unit-padding(3);
    color: $sidebar-color;
  }
  border-bottom: 1px solid $sidebar-border-color;
  &:nth-child(1) {
    border-top: 1px solid $sidebar-border-color;
  }
}

$title-size: 18px;
#sidebar-top {
  height: $title-height;
  @include unit-padding(0 2);
  background-color: $title-bg-color;
  font-family: 'chogokubosogothic';
  font-size: 18px;
  a {
    color: white;
  }
}

#logo {
  color: white;
  font-size: 32px;
  @include unit-margin(0 2 0 0);
}

#hotentry {
  color: #DBDBDB;
  @include unit-margin(3 0);
  &:hover { color: white; }
}

$placeholder-color: #808894;
#search-box {
  position: relative;
  input {
    width: 100%;
    border: 1px solid $placeholder-color;
    @include unit-padding(2 3);
    background-color: $sidebar-bg-color;
    @include border-radius(4px);
    font-size: 14px;
    color: white;
    @include input-placeholder {
      color: $placeholder-color;
    }
  }
  .fa-search {
    color: $placeholder-color;
    position: absolute;
    right: 8px;
    top: 9px;
    cursor: pointer;
  }
}

.site {
  &:hover {
    background-color: #fafafa;
  }

  .favicon {
    @include unit-margin(0 2 0 0);
  }

  .fa {
    font-size: 16px;
  }
}

.site-title {
  @include flex(1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.more {
  display: block;
  text-align: center;
  @include unit-padding(3 0);
  color: #8A9196;
  font-size: 12px;
  &:hover {
    color: $sidebar-hover-color;
  }
}

.extensions {
  @include unit-margin(6 0);
  a {
    display: block;
    @include unit-padding(3);
  }
  .fa {
    font-size: 16px;
    @include unit-margin(0 2 0 0);
  }
}