doctype html
html
  head
    title ブクマダイバー
    script(src="/js/analytics.js")
    script(src="/js/main.js")
    link(rel="shortcut icon" href="/image/favicon.png" type="image/png")
    link(rel="stylesheet", href="/css/main.css")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    meta(name="description" content="面白いページを1匹見つけたら裏に100匹潜んでいると考えろ！良質なコンテンツを芋づる式に発掘していく装置、ブクマダイバー！拡張機能も使えば発掘能力は倍増！")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
  body#app(v-class="inactive: hasActiveContent" v-on="keyup: closeModal | key esc")
    #modal(v-component="modal" v-show="isModalOpen" v-events="closeModal: closeModal")

    .stretch-flexbox(v-style="min-height: sidebarHeight")
      #sidebar-wrapper(v-on="scroll: propagateScroll, touchend: closeSidebar")
        nav#sidebar(v-component="sidebar")
      main#main(v-class="swiped-out: isSidebarActive, end: transitionEnd" v-on="transitionend: transitionEnd = true")
        #current-view(v-component="{{currentView}}" v-ref="main")
        #about
          .about-box.center
            a(href="http://b.hatena.ne.jp/" target="_blank")
              i.icon-hatebu
            p
              | ブクマダイバーは
              a(href="http://www.hatena.ne.jp/" target="_blank") はてな
              | のサービスである
              br
              a(href="http://b.hatena.ne.jp/" target="_blank") はてなブックマーク
              | の情報を利用しています
          .about-box.center
            a(href="https://github.com/webken/bukuma-diver" target="_blank")
              i.fa.fa-github
            p
              | ブクマダイバーのソースコードは
              br
              a(href="https://github.com/webken/bukuma-diver" target="_blank") Githubで公開
              | しています

    #mobile-buttons.mobile-only
      button(v-on="click: scrollTop")
        i.fa.fa-arrow-up
      button(v-on="click: toggleSidebar")
        i.fa.fa-bars
    #footer(v-html="footerContent")
