doctype html
html
  head
    title ブクマダイバー
    script(src="/js/analytics.js")
    script(src="/js/main.js")
    link(rel="shortcut icon" href="/image/favicon.png" type="image/png")
    link(rel="stylesheet", href="/css/main.css")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
  body#app(v-class="modal-open: isModalOpen" v-on="keyup: closeModal | key esc")
    #modal(v-component="modal" v-show="isModalOpen" v-events="closeModal: closeModal")

    .stretch-flexbox(v-style="min-height: sidebarHeight")
      #sidebar-wrapper
        nav#sidebar(v-component="sidebar")
      main#main
        #current-view(v-component="{{currentView}}" v-ref="main")
        #about
          .about-box.center
            a(href="http://b.hatena.ne.jp/" target="_blank")
              i.icon-hatebu
            p
              | ブクマダイバーは
              a(href="http://www.hatena.ne.jp/" target="_blank") はてな
              | のサービスである
              br
              a(href="http://b.hatena.ne.jp/" target="_blank") はてなブックマーク
              | の情報を利用しています
          .about-box.center
            a(href="https://github.com/webken/bukuma-diver" target="_blank")
              i.fa.fa-github
            p
              | ブクマダイバーのソースコードは
              br
              a(href="https://github.com/webken/bukuma-diver" target="_blank") Githubで公開
              | しています

    #footer(v-html="footerContent")
