.draggable { cursor: move; }

@mixin placeholder {
  border: dotted 1px #999;
  content: "　";
  display: block;
}

li.draggable.after:after {
  @include placeholder;
}

li.draggable.before:before {
  @include placeholder;
}
