.container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.left { float: left; }

.right { float: right; }

@mixin generic-flexbox {
  @include flexbox((
                      display: box,
                      box-orient: inline-axis
                    ), $version: 1);
  @include flexbox((
                      display: flexbox,
                      flex-direction: row
                    ), $version: 2);
  @include flexbox((
                      display: flex,
                      flex-direction: row
                    ));
}

.top-align-flexbox {
  @include flexbox((
                      display: box,
                      box-orient: inline-axis,
                      box-align: start
                    ), $version: 1);
  @include flexbox((
                      display: flexbox,
                      flex-direction: row,
                      flex-align: start
                    ), $version: 2);
  @include flexbox((
                      display: flex,
                      flex-direction: row,
                      align-items: flex-start
                    ));
}

.bottom-align-flexbox {
  @include flexbox((
                      display: box,
                      box-orient: inline-axis,
                      box-align: end
                    ), $version: 1);
  @include flexbox((
                      display: flexbox,
                      flex-direction: row,
                      flex-align: end
                    ), $version: 2);
  @include flexbox((
                      display: flex,
                      flex-direction: row,
                      align-items: flex-end
                    ));
}

.center-flexbox {
  @include flexbox((
                      display: box,
                      box-orient: vertical,
                      box-pack: center
                    ), $version: 1);
  @include flexbox((
                      display: flexbox,
                      flex-direction: row,
                      flex-align: center,
                    ), $version: 2);
  @include flexbox((
                      display: flex,
                      flex-direction: row,
                      align-items: center
                    ));
}
