.card {
  background-color: white;
  border: 1px solid $border-color;
  @include box-shadow(1px 1px 1px 0px $shadow-color);
  @include border-radius(2px);
}

.card-head {
  border-bottom: 1px solid $border-color;
  @include unit-padding(3 4 2);
  font-size: 12px;

  .favicon {
    position: relative;
    top: 4px;
  }
}

.card-body {
  @include unit-padding(2 4 2);
}
