#footer {
  @include unit-margin(15 0 0 0);

  background-color: $footer-bg-color;
  font-size: 0.9em;
  color: $footer-color;

  h3 {
    @include unit-margin(0 0 1 0);
    color: $footer-blight-color;
  }
  .footer-box {
    display: inline-block;
    width: 50%;
  }

  i {
    color: white;
    font-size: 80px;
  }
}

#about {
  @include unit-padding(6 0);
  background-color: #788190;
  color: #C5C9CF;
  a { color: white; }
}
#webken-footer {
  @include unit-padding(10 3 0);
  #copyright {
    @include unit-margin(10 0 0 0);
    text-align: center;

    a { color: $footer-blight-color; }
  }
  a {
    color: $footer-color;
    &:hover { color: $footer-blight-color; }
  }
}
