doctype html
html
  head
    title
    script(src="js/vendor.js")
    script(src="js/main.js")
    link(rel="stylesheet", href="css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")


  body
    #app
