doctype html
html
  head
    title ブクマダイバー
    script(src="/js/main.js")
    link(rel="stylesheet", href="/css/main.css")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body#app(v-class="modal-open: isModalOpen" v-on="keyup: closeModal | key esc")
    #modal(v-component="modal" v-show="isModalOpen" v-events="closeModal: closeModal")
    #content
      header#title
        h1 ブクマダイバー
      .container
        nav#side-bar(v-component="side-bar")
        main(v-component="{{currentView}}" v-ref="main")
      footer
        | フッター
